*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+JP:wght@100..900&display=swap');


/*titulo*/

.color{
    background-image: linear-gradient(254deg, rgba(87,5,5,1) 0%, rgba(238,9,9,1) 26%, rgba(230,21,21,1) 100%);
}
.colorpie{
    background-image: linear-gradient(254deg, rgba(233,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(106,106,106,1) 100%);
    ;
}



/*medio*/




main p{
    font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal
}

 .titulos{text-align: center;
}

.navhistoria{
    width: 100%;
}

.historia{
    display: flex;
    justify-content: center;
    flex-direction: row;
   }


.fotohistoria{
    width: 400px;
    border: crimson solid 5px;
    }
    

    .imgventa{
        width: 800px;
    }










