/*HEADER Y FOOTER*/
.header{
    display: flex;
    position: sticky;
    top: 0;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
.logocaballo{
    width: 155px;
}
.logo{
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav{
    width: 40%;
}
.lista-nav{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
} 
.lista-nav a{
    color: white;
}

.colorpie{background-color: black;
    color: white;
text-align: center;
}
.pie{width: 50px;
}







/*GENERAL*/


/*GRID MENU*/
.contenedorgrid{
    width: 100%;
    height: 100%;
}

.contenedorgrid{
    display: grid;
    grid-template-areas:
    "h2 h2 h2"
    "titulo titulo titulo"
    "img1 texto1 texto1"
    "titulo2 titulo2 titulo2"
    "texto2 texto2 img2" ;
    grid-template-rows: 50px 40px 280px 40px 280px;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
}



.titulomenu{
    grid-area: h2;
    text-align: center;
    background-color: grey;
}
.titulocampeon{
    grid-area: titulo;
}
.imgcampeon{
    grid-area: img1;
    width: 370px;
}
.textocampeon{
    grid-area: texto1;
}
.titulocampeona{
    grid-area: titulo2;
}
.textocampeona{
    grid-area: texto2;
}
.imgcampeona{
    grid-area: img2;
    width: 350px;
}





/*GRID CONTACTO*/
.gridcontacto{
    width: 100%;
    height: 100%;
}


.gridcontacto{
    display: grid;
    grid-template-areas:
    "h1 h1 h1"
    "link1 texto link2"
    "texto2 texto texto1"
    "img1 img2 img3"
    "brandsen brandsen brandsen"
    "mapa mapa mapa" ;
    grid-template-rows:30px 30px 30px 500px 20px 550px;
    grid-template-columns:30% 25% 30% ;
text-align: center;
align-items: center;
justify-items: center;
justify-content: center;
}

.titulocontacto{
    grid-area: h1;
    text-align: center;
}
.instalink{
    grid-area: link2;
}
.wpplink{
    grid-area: link1;
}
.insta{
    grid-area: texto1;
}
.wpp{
    grid-area: texto2;
}
.imgcontacto1{
    grid-area: img1;
    width: 280px;
}
.imgrayo{
    grid-area: img2;
    width: 350px;
}
.imgcontacto2{
    grid-area: img3;
    width: 280px;
}
.h2mapa{
    grid-area: brandsen;
}
.mapacontacto{
    grid-area: mapa;
}




/*GRID VENTA*/
.gridventa{
    width: 100%;
    height: 100%;
    background-color: rgb(159, 156, 156);
}


.gridventa{
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "caballo precio precio"
    "foto1 texto texto"
    "caballo2 precio2 precio2"
    "foto2 texto2 texto2"
    "caballo3 precio3 precio3" 
    "foto3 texto3 texto3";
    grid-template-rows: 60px 30px 300px 30px 300px 30px 300px;
    grid-template-columns: 30% 30% 30% ;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.tituloventacaballos{
    grid-area: titulo;
    text-align: center;
    font-size: 2rem;
}
.tituloventa{
    grid-area: caballo;
}
.precio1{
    grid-area: precio;
}
.imgventa1{
    grid-area: foto1;
    width: 400px;
}
.textoventa{
    grid-area: texto;
}
.tituloventa2{
    grid-area: caballo2;
}
.precio2{
    grid-area: precio2;
}
.imgventa2{
    grid-area: foto2;
    width: 400px;
}
.textoventa2{
    grid-area: texto2;
}
.tituloventa3{
    grid-area: caballo3;
}
.precio3{
    grid-area: precio3;
}
.imgventa3{
    grid-area: foto3;
    width: 400px;
}
.textoventa3{
    grid-area: texto3;
}





/*RESPONSIVE */
/*TITULO RESPONSIVE*/
@media (max-width: 500px){
    .color{
        flex-direction: column;
        align-items: center;
    }
    .logocaballo{
        width: 80px;
    }
    .logo{
        font-size: 0.7rem;
    }
    .lista-nav{
        flex-direction: row;
    }
    nav{
        width: 80%;
    }
    header{
        height: 100px;
    }
    /*RESPONSIVE MENU*/
    .contenedorgrid{
        grid-template-areas: 
        "h2"
        "titulo"
        "img1"
        "texto1"
        "titulo2"
        "img2"
        "texto2";
        grid-template-columns: 1fr;
        grid-template-rows: 50px 40px 280px 150px 40px 280px 170px;
    }
    .imgcampeon{
        grid-area: img1;
        width: 350px;
    }



    .gridventa{
grid-template-areas: 
"titulo titulo"
"caballo precio"
"foto1 foto1"
"texto texto"
"caballo3 precio3"
"foto3 foto3"
"texto3 texto3";
grid-template-columns: 1fr 1fr;
grid-template-rows: 50px 40px 250px 150px 40px 250px 150px;
}
.tituloventa2{
    display: none;
}
.precio2{
    display: none;
}
.imgventa2{
    display: none;
}
.textoventa2{
    display: none;
}
.tituloventa{
    text-align: 0.5rem;
}
.precio1{
    text-align: 0.8rem;
}
.gridcontacto{
    grid-template-areas: 
    "h1 h1"
    "link1 texto2"
    "img1 img1"
    "link2 texto1"
    "img3 img3"
    "brandsen brandsen"
    "mapa mapa";
    grid-template-columns: 2fr ;
    grid-template-rows: 50px 40px 280px 40px 280px 40px 300px;
}
.imgrayo{
    display: none;
}
.imgcontacto1{
    width: 200px;
}
.imgcontacto2{
    width: 200px;
}



}